$backgroundColor: rgba(233, 41, 41, 0.877);
$mainBgColor: rgba(172, 190, 216, 1);
$accordionBgColor: rgba(232, 235, 247, 1);
$textPrimaryColor: rgba(70, 63, 58, 1);
$textSecondaryColor: rgba(239, 255, 250, 1);

$boxShadow: 0 1px 20px 1px lighten($textPrimaryColor, 30);
